// general styles for the project that wouldn't be a reuseable component

body {
  @include background-attributes;
  background-attachment: fixed;
  background-image: url(../img/bg.jpg);
  &.entered {
    background-color: $grey-darkest;
    background-image: none;
  }
}