---
layout: default
---
<div class="bg--dark content-spacing">
  <div class="container container--xxl vpad--xl text--white text--normal ">
    <div class="width width--lg text--center">
      <p class="text--xl">{{page.intro}}</p>
      {% for text in page.text %}
        <p class="text--xl">{{text}}</p>
      {% endfor %}
      <div class="vpad--sm width width--md">
        <div class="promo-code">SECRET</div>
      </div>
      <a id="track-{{page.id}}-btn" href="{{site.client.link}}" class="js-mobile-cta btn btn--white-strong" data-mobile-cta="Download Now">Find Out More</a>
      <div class="download-badge">
        <a id="track-{{page.id}}-app-badge" href="{{site.client.link}}"><img src="{{site.img}}/icons/app-store-download-badge.svg" alt="Download on the App Store"></a>
      </div>
    </div>
  </div>
</div>

<div class="bg--black text--white">
  <div class="container">
    {% include offer/all-offers.html %}
  </div>
</div>

{% assign competition-page = site.html_pages | where: 'id', 'competition' | first %}
<div class="vpad--xxxxl bg--img text--white bg--dark" style="background-image: url('{{site.img}}/content/{{competition-page.id}}/banner.jpg');">
  <div class="container container--100">
    <div class="row row--start">
      <div class="col col--xxl-8">
        <div class="width width--xl">
          <h2 class="title title--xxl">{{competition-page.long-title}}</h2>
          <p class="text--xxl text--normal width--lg">This is your chance to indulge in an opulent getaway to the Poets House Hotel in charming Ely, Cambridgeshire. Spend two nights enjoying the boutique style of this gorgeous stay, where period features meet sympathetic contemporary touches. And how to get there? THE OUT has you covered.</p>
          <div class="space--md"></div>
          <a id="track-btn-footer-competition" href="{{site.baseurl}}{{competition-page.url}}" class="btn btn--lg btn--white">Enter Now</a>
        </div>
      </div>
    </div>
  </div>
</div>