<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="no-js bg--black bg__fixed">
    <div class="bg__fixed-wrap">
      <div class="bg__fixed-img" style="background-image: url('{{site.img}}/bg.jpg');"></div>
    </div>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="container content-spacing section-spacing">
      {{ content }}
    </div>

    <div class="space--xxxl"></div>
    <div class="space--xxxl"></div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>