<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="no-js bg--dark {{page.id}}">

    {% include components/tracking.html %}

    <div class="content-spacing section-spacing">
      <div class="container">
        <div class="width width--lg vpad--xxl text--white text--center">
          <h1 class="title title--lg">{{page.title}}</h1>
          <div class="space--xs"></div>
          <p class="width width--md text--normal text--xl">Now that you're in the running, why not learn more about THE OUT app. It gives you access to a luxury vehicle whenever adventure calls. Book in minutes with the app. They'll deliver it to your doorstep and collect it afterwards.</p>
          <p class="width width--md text--normal text--xl">Claim <strong>£20 off your first booking</strong> with THE OUT by using the below code when you&nbsp;check-out.</p>
          <div class="vpad--sm width width--md">
            <div class="promo-code">SECRET</div>
          </div>
          <a id="track-entered-btn" href="{{site.client.link}}" class="js-mobile-cta btn btn--white-strong" data-mobile-cta="Download Now">Find Out More</a>
          <div class="download-badge">
            <a id="track-entered-app-badge" href="{{site.client.link}}"><img src="{{site.img}}/icons/app-store-download-badge.svg" alt="Download on the App Store"></a>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>